@model IEnumerable<BlowOut.Models.Instrument>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.instName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pic)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.instName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pic)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.InstrumentID }) |
                @Html.ActionLink("Details", "Details", new { id=item.InstrumentID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.InstrumentID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
